APP_NAME = MarketPulse-Scraper
DEBUG = True
DATABASE_URL = mssql+pyodbc://.\SQLEXPRESS/SmartInvoiceDB?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes
TELEGRAM_BOT_TOKEN=8830141662:AAGN1v9OZ5ERopdRN5-N8k-u40yCFnOb-_4
TELEGRAM_CHAT_ID=Id: 5802583207
SCRAPE_INTERVAL_MINUTES=30
HEADLESS_MODE=True